<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Rocket Auth Example</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Rocket Auth Example</a>
            <div class="fex-container">
                {% if not user %}
                    <a class="navbar-brand" href="/login">Login</a>
                    <a class="navbar-brand" href="/signup">Sign up</a>
                {% else %}
                    <form method="post" action="logout">
                        <button class="navbar-brand btn-danger" style="border: 0px;" type="submit">Log out</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </nav>
    <div style="text-align: center;">
        <br>
        {% block body %}
        {% endblock body %}
    </div>
</body>

</html>