<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/signup" method="post">
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="email address" name="email" required>
        
        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="password" name="password" required>

        <button type="submit">Signup</button>
    </form>
</body>
</html>